<ion-content [fullscreen]="true">
  <h1>Skeleton App</h1>
  <p>aqui comienza todo</p>

  <div id="container">
    <h2>Bienvenido!</h2>
    <ion-item>
      <ion-input [(ngModel)]="username" label="Usuario" labelPlacement="stacked"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="password" type="password" label="Password" label-placement="stacked" pattern="\d{4}" minlength="4" maxlength="4" inputmode="numeric"></ion-input>
    </ion-item>
    <ion-button fill="outline" (click)="validateLogin()">Ingresar</ion-button>
    <br><br><a href="">Crea tu cuenta gratis</a>
    <p>{{message}}</p>
  </div>
</ion-content>
